.lang-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  width: fit-content;
  border: none;
  outline: none;
  color: black;
}
.lang-toggle:hover,
.lang-toggle:focus {
  border: none;
  outline: none;
}
