#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}

main {
  padding-top: 55px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* added by me */
body {
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
  list-style: none;
}

/* عربي: نصوص فقط RTL ويمين */
html[lang="ar"]
  :where(
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    blockquote,
    .tab_text,
    .hero_paragraph,
    .step_title,
    .step_desc
  ) {
  direction: rtl;
  /* text-align: right; */
}

/* إنجليزي: نصوص فقط LTR ويسار (للتأكيد) */
html[lang="en"]
  :where(
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    blockquote,
    .tab_text,
    .hero_paragraph,
    .step_title,
    .step_desc
  ) {
  direction: ltr;
  /* text-align: left; */
}
